body {
  background: white;
  margin: 2px;
  overflow: scroll;
}

#content {
  width: 100%;
}

.react-grid-layout {
  background: #eee;
}

.layoutJSON {
  background: #ddd;
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
}

.columns {
  -moz-columns: 120px;
  -webkit-columns: 120px;
  columns: 120px;
}

.react-grid-item {
  box-sizing: border-box;
  /* border: 1px solid lightgray; */
}

.react-grid-item:not(.react-grid-placeholder) {
  /* background: #ccc; 
  border: 1px solid lightgray;*/
}

.react-grid-item.resizing {
  opacity: 0.9;
}

.react-grid-item.static {
  background: #cce;
}

.react-grid-item .minMax {
  font-size: 12px;
}

.react-grid-item .add {
  cursor: pointer;
}

.react-grid-dragHandleExample {
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

li b {
  font-size: 19px;
  line-height: 14px;
}

.toolbox {
  background-color: #dfd;
  width: 100%;
  height: 120px;
  overflow: scroll;
}

.hide-button {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  top: 0px;
  right: 5px;
}

.toolbox__title {
  font-size: 24px;
  margin-bottom: 5px;
}

.toolbox__items {
  display: block;
}

.toolbox__items__item {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  background-color: #ddd;
}

.dragHandle {
  background-color: rgb(0, 122, 204);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  z-index: 1;
  display: none;
  cursor: move;
  /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.react-grid-item:hover .dragHandle {
  display: block;
}

.react-grid-item>.react-resizable-handle::after {
  border-right: none;
  border-bottom: none;
}

.react-grid-item:hover>.react-resizable-handle::after {
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.removeBtn {
  position: absolute;
  right: 2px;
  top: 0;
  cursor: pointer;
  color: red;
}

.editItemBtn {
  position: absolute;
  right: 15px;
  top: 0;
  cursor: pointer;
  background-color: rgb(0, 122, 204);
  border: none;
  color: white;
  text-decoration: none;
}

.refreshBtn {
  position: absolute;
  right: 25px;
  top: 0;
  cursor: pointer;
  color: rgb(224, 169, 28);
}

.exportBtn {
  position: absolute;
  right: 50px;
  top: 0;
  cursor: pointer;
  color: white;
}

.copyWidBtn {
  position: absolute;
  right: 75px;
  top: 0;
  cursor: pointer;
  color: white;
}

.cellContent {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 20px;
  bottom: 0;
  background-color: transparent;
}

.black_border {
  border: 1px solid black
}

.widget_content_divider {
  height: 20px;
}

.series_divider {
  height: 10px;
}

.num_input_width {
  width: 30px;
}

.series_edit_item {
  margin-left: 15px;
  padding: 5px;
  border: 1px solid black;
}

.form_div {
  padding: 8px
}

.delete_series_btn, .duplicate_series_btn, .time_overwrite_series_btn {
  margin-left: 8px;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.delete_series_btn {
  background-color: #f44336;
  color: white;
}

.duplicate_series_btn {
  background-color: #4CAF50;
  color: white;
}

.time_overwrite_series_btn {
  background-color: #008CBA;
  color: white;
}